# APRA Frontend Environment Variables
NEXT_PUBLIC_API_URL=https://apra-backend.onrender.com
NEXT_PUBLIC_ASSOCIATION_NAME="Association for Ponnappa Nadar Nagar Residents Amenity"
NEXT_PUBLIC_REGD_NO="Regd. No. 25/2023"
